---
machines:
  pp_web:
    hostname: "pp_web"
    ipv4: "192.168.70.10"
    playbook: "provisioning/ansible/web_server.yml"
    folder_map:
    - guest: "/opt/www"
      host: "../../byng_systems@bitbucket.org/paypoint/"
      owner: www-data
      group: www-data
    port_map:
    - guest: 80
      host: 8080
    - guest: 443
      host: 4443

  pp_db:
    hostname: "pp_db"
    ipv4: "192.168.70.20"
    playbook: "provisioning/ansible/db_server.yml"
